<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>


    <title>Angel .I Martinez</title>

    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    

    <!-- Custom styles for this template -->
    <link href="{%static 'css/main.css'%}" rel="stylesheet">
	<link rel="stylesheet" href="{%static 'css/font-awesome.min.css'%}">
	
	<script type="text/javascript" src="{%static 'js/jquery.easypiechart.min.js'%}"></script>
	<script type = "text/javascript" src = "{% static 'js/jquery.fittext.js'%}"></script>
	<script type="text/javascript">
  	$(document).ready(function(){
          $("#h1").fitText(1.2);
 		 });
	</script>
	

	
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu">
		
	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="#home">Angel</a></h1>
			<i class="icon-remove menu-close"></i>
			<a href="#home" class="smoothScroll">Home</a>
			<a href="#services" class="smoothScroll">Skills</a>
			<a href="#portfolio" class="smoothScroll">Portfolio</a>
			<a href="#contact" class="smoothScroll">Contact</a>
			<a href="#"><i class="icon-facebook"></i></a>
			<a href="#"><i class="icon-twitter"></i></a>
			<a href="#"><i class="icon-dribbble"></i></a>
			<a href="#"><i class="icon-envelope"></i></a>
		</div>
		
		<!-- Menu button -->
		<div id="menuToggle"><i class="icon-reorder"></i></div>
	</nav>


	
	<!-- ========== HEADER SECTION ========== -->
	<section id="home" name="home"></section>
	<div id="headerwrap">
		<div class="container">
			<br>
			<div> 
				<ul>
					<h1 id ='h1'>Angel .I Martínez</h1>
			<img class = 'img-circle pull-left img-responsive 'src="{% static 'img/me4.png'%}" alt="" width = '570px' height = '400px' style="">
				</ul>
			</div>
			<p>
			<h2> I am a Developer Graduated from the University of Puerto Rico with
			 a Bachelor's Degree in Computer Science. I'm a pragmatic and high quality back-end and
			  front-end programmer. </h2> </p>
			<div class="row">
				<br>
				<br>
				<br>
				<div class="col-lg-6 col-lg-offset-3">
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	
	<!-- ========== WHITE SECTION ========== -->


	
	<!-- ========== SERVICES - GREY SECTION ========== -->
	<!--
	<section id="services" name="services"></section>
	<div id="g">
		<div class="container">
			<div class="row">
				<h3>OUR SERVICES</h3>
				<br>
				<br>
				<div class="col-lg-3">
					<img src="{%static 'img/s1.png'%}">
					<h4>London</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				</div>
				<div class="col-lg-3">
					<img src="{%static 'img/s2.png'%}" alt="">
					<h4>Berlin</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				</div>
				<div class="col-lg-3">
					<img src="{%static 'img/s3.png'%}">
					<h4>Paris</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				</div>
				<div class="col-lg-3">
					<img src="{%static 'img/s4.png'%}">
					<h4>Tokyo</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				</div>
			</div>
		</div> /container
	</div></g>
	-->
	<!-- ========== CHARTS - DARK GREY SECTION ========== -->
	<div id="dg">
	<div id ="services"></div>
		<div class="container">
			<div class="row">
				<h3>SKILLS</h3>
				<br>
				<br>

				<div class ='col-lg-4'>
					
					<h4>Javascript</h4>
					
				<span class="chart" data-percent="73">
					<span class="percent"></span>
				</span>

				</div>
				<div class="col-lg-4">
					
					<h4>Java </h4>
					<span class="chart" data-percent="80">
						<span class="percent"></span>
					</span>
					

				</div>
				<div class="col-lg-4">
					
					<h4>Python</h4>
					<span class="chart" data-percent="80">
						<span class="percent"></span>
					</span>

				</div>
				<div class = 'row'>
					<div class="col-lg-4">
					
					<h4>HTML</h4>
					<span class="chart" data-percent="100">
						<span class="percent"></span>
					</span>

					</div>
					<div class="col-lg-4">
					
					<h4>CSS</h4>
					<span class="chart" data-percent="100">
						<span class="percent"></span>
					</span>

					</div>
					<div class="col-lg-4">
					
					<h4>PHP</h4>
					<span class="chart" data-percent="45">
						<span class="percent"></span>
					</span>

					</div>

				</div>
				<div class = 'row'>
					<div class="col-lg-4">
					
					<h4>C++</h4>
					<span class="chart" data-percent="50">
						<span class="percent"></span>
					</span>

					</div>

					<div class="col-lg-4">
					
					<h4>Visual Basic</h4>
					<span class="chart" data-percent="80">
						<span class="percent"></span>
					</span>

					</div>
					<div class="col-lg-4">
					
					<h4>Django MVC Framework</h4>
					<span class="chart" data-percent="80">
						<span class="percent"></span>
					</span>

					</div>
					
				</div>

				<div class = 'row'>
					<div class="col-lg-4">
					
						<h4>C#</h4>
						<span class="chart" data-percent="60">
						<span class="percent"></span>
						</span>

					</div>
					
				</div>
			
			</div>	
		</div><!-- /container -->
	</div><!-- /dg -->

				<script type="text/javascript">
	$(function() {
		$('.chart').easyPieChart({
			easing: 'easeOutBounce',
			onStep: function(from, to, percent) {
				$(this.el).find('.percent').text(Math.round(percent));
			}
		});
		var chart = window.chart = $('.chart').data('easyPieChart');
		$('.js_update').on('click', function() {
			chart.update(Math.random()*200-100);
		});
	});
	</script>
	
	<section id="portfolio" name="portfolio"></section>
	<div id="portfoliowrap">
		<div class="container">
			<div class="row">
				<h3>PROYECTS</h3>
				<br>
				<br>
				<div class="col-lg-4 port-space ">
					<div class = 'thumbnail ' >
      				<a href="http://www.geo-tire.com/" class="img-responsive">
         			<img src="{% static 'img/geotire.png'%}" 
         			alt="Generic placeholder thumbnail">
      				</a>
      			 <div class="caption">
         			<h4><a href="http://www.geo-tire.com/"  target="_blank">Geo-Tire</a></h4>
         			<p> Award winning best mobile responsive web app, built in less than 24 hours at HackPR.</p>
         			<p>
         				<!--
            			<a href="#" class="btn btn-primary" role="button">
               			Button
            			</a> 
						-->
        			</p>
        		</div>
      			</div>

				</div>
				<div class="col-lg-4 port-space thumbnail" >
      				<a href="" class="img-responsive"alt="Generic placeholder thumbnail">
      				</a>
      			 <div class="caption">
         			<h4><a href=""  target="_blank">3Gramz</a></h4>
         			<p> coming soon..</p>
         			<p>
         				<!--
            			<a href="#" class="btn btn-primary" role="button">
               			Button
            			</a> 
						-->
        			</p>
      			</div>

				</div>
				<div class="col-lg-4 port-space ">
					<div class ='thumbnail'>
					<a  class ='img-responsive'href="http://geo-clinic.herokuapp.com/"><img src="{%static 'img/Geo-clinic.png'%}"></a>
					      			 <div class="caption">
         			<h4><a href="http://geo-clinic.herokuapp.com/"  target="_blank">Geo-Clinic</a></h4>
         			<p> Responsive web app that finds the nearest hospital in 8 kilometers</p>
         			<p>
         				
        			</p>
      			</div>
				</div>
				</div>				
			</div>	
		</div><!-- /container -->
	</div><!-- /portfoliowrap -->
	
	<!-- ========== WHITE SECTION ========== -->
	<div id="w">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
				<h3>I WORK HARD TO DELIVER <bold>HIGH QUALITY APPS</bold>.
				</h3>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /w -->
	
	<!-- ========== ABOUT - GREY SECTION ========== -->
	<section id="about" name="about"></section>
	<div id="g">
		<div class="container">
			<div class="row">
				
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /g -->
	
	<!-- ========== FOOTER SECTION ========== -->
	<section id="contact" name="contact"></section>
	<div id="f">
		<div class="container">
			<div class="row">
					<h3><b>CONTACT ME</b></h3>
					<br>
					<div class="col-lg-4">
						<h3><b>Send me a Message:</b></h3>
						<h3>angelmartinez.la@gmail.com</h3>
						<br>
					</div>
					
					<div class="col-lg-4">	
						<h3><b></b></h3>
						<h3></h3>
						<br>
					</div>
					
					<div class="col-lg-4">
						<h3><b>I'm Social!</b></h3>
						<p>
							<a href=""><i class="icon-facebook"></i></a>
							<a href=""><i class="icon-twitter"></i></a>
							<a href=""><i class="icon-envelope"></i></a>
						</p>
						<br>
					</div>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /f -->
	
	<div id="c">
		<div class="container">
		
		</div>
	</div>
	
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="{%static 'js/classie.js'%}"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{%static 'js/smoothscroll.js'%}"></script>
	<script src="{%static 'js/main.js'%}"></script>
</body>
</html>
